@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(154,134,164);
    background: linear-gradient(45deg, rgba(154,134,164,1) 0%, rgba(177,188,230,1) 35%, rgba(183,229,221,1) 100%);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89.5%;
    width: 100%;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
}

textarea {
    width: 450px;
    height: 250px;
    -webkit-box-shadow: 10px 17px 19px 0px rgba(0,0,0,.50);
    -moz-box-shadow: 10px 17px 19px 0px rgba(0,0,0,.50);
    box-shadow: 10px 17px 19px 0px rgba(0,0,0,.50);
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    margin-top: 50px;
    background-color: #9A86A4;
    padding: 10px 30px;
    border: 0;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
}

.error {
    color: rgb(150, 0, 0);
}

footer {
    text-align: center;
    background-color: #F1F0C0 ;
    padding: 1.8rem 0;
}

